<div class="container">
  <% @bookings.each do |booking| %>
    <div class="card m-3 p-3">
      <h5>Booking # <%= booking.id %></h5>
      <ul>
        <li>Game type: <%= booking.game_type %></li>
        <li>Date: <%= booking.date %></li>
        <li># of hours in the session: <%= booking.session_hours %></li>
        <li># of players in the session: <%= booking.player_number %></li>
      </ul>
      <%= link_to "View details", booking_path(booking), class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="card d-grid gap-2 col-4 mx-auto mt-3 mb-3">
    <%= link_to "Make a new booking with a DM",
    dm_profiles_path,
    class: "btn btn-primary"
  %>
  </div>
</div>
