<div class="new-booking-page-container">
  <h1>Making New Booking</h1>
    <%= simple_form_for [@dm_profile, @booking], html: { class: "cmint"} do |f| %>
      <%= f.input :game_type, :collection => %i[Call\ Of\ Cthulu  Dungeons\ and\ Dragons Pathfinder Vampire\ The\ Masquerade Warhammer\ Fantasy\ Roleplay], input_html: {style: "opacity: 50%; color: black;"} %>
      <%= f.input :date, input_html: {style: "opacity: 50%; color: black;"}, as: :date, html5: true %>
      <%= f.input :session_hours, input_html: {style: "opacity: 50%; color: black;"}, :label => 'How long will you play? (hrs)', :collection => (1..10) %>
      <%= f.input :player_number, input_html: {style: "opacity: 50%; color: black;"}, :label => 'How many players?', :collection => (1..10) %>
      <%= f.input :details, input_html: {style: "opacity: 50%; color: black;"}, :label => 'Message for the DM' %>
      <div style="display:flex; justify-content: space-evenly">
        <input class="btn btn-success" type="reset" value="Reset form">
        <%= f.button :submit, "Create Booking", class: "btn btn-primary"%>

      </div>
    <% end %>
</div>
