<div class="container">
  <div class="card p-3 m-3">
    <h1>Booking # <%= @booking.id %></h1>
    <ul>
      <li>Game type: <%= @booking.game_type %></li>
      <li>Date: <%= @booking.date %></li>
      <li># of hours in the session: <%= @booking.session_hours %></li>
      <li># of players in the session: <%= @booking.player_number %></li>
      <li>Details: <%= @booking.details %></li>
    </ul>
  </div>
  <%= link_to booking_path(@booking),
    class: "m-2",
    data: { turbo_method: :delete,
    turbo_confirm: "Do you want to delete this bookmark?" } do %>
    <i class="fa-solid fa-trash text-red"></i>
  <% end %>
</div>
