<!--banner-->
<div class="banner">
  <div>
    <h1><strong>WELCOME TO THE TAVERN</strong></h1>
    <%= link_to 'Book now', dm_profiles_path, class:"btn btn-flat" %>
  </div>
</div>
<!--category bar-->
<div class="bar-container">
  <span class="label-container">
    <%= image_tag 'Vampire_The_Masquerade.png', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'call-of-cthulhu-logo-1_1200x1200.webp', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'dnd2.png', width:"100%", height:"42"%>
  </span>
  <span class="label-container">
    <%= image_tag 'WFRP-Core-logo.png', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'pathfinder.png', width:"100%", height:"24"%>
  </span>
</div>

<!--dm cards grid-->
<div class="card-container">
  <div class="cards">
    <% DmProfile.first(4).each do |dm_profile| %>
      <div class="card-trip">
        <%= image_tag "http://source.unsplash.com/featured/?boardgame&#{rand(1000)}" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= dm_profile.user.email %></h2>
            <p><%=dm_profile.availability %></p>
          </div>
          <h2 class="card-trip-pricing">$<%= dm_profile.price %></h2>
          <%= image_tag "http://source.unsplash.com/featured/?face&#{rand(1000)}", class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
