<!--banner-->
<div class="banner">
  <div>
    <h1><strong>WELCOME TO THE TAVERN</strong></h1>
    <%= link_to 'Book now', dm_profiles_path, class: "btn btn-flat", style: "margin-top: 16px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);" %>
  </div>
  <div class="fade">
  </div>
</div>
<!--category cards grid-->
<div class="card-section">
  <h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">FILTER BY GAMES</h1>
  <div class="card-body d-flex justify-content-between ">
    <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
      <div class="test-card">
        <div class="wrapper">
          <%= image_tag 'vm_wallpaper.webp',class:"cover-image" %>
        </div>
      </div>
    </a>
    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
      <div class="test-card">
        <div class="wrapper">
          <%= image_tag 'call-of-cthulhu-wallpaper.jpg',class:"cover-image" %>
        </div>
      </div>
    </a>
    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
      <div class="test-card">
        <div class="wrapper">
          <%= image_tag 'https://prodimage.images-bn.com/pimages/9780786965601_p0_v2_s1200x630.jpg',class:"cover-image" %>
        </div>
      </div>
    </a>
    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
      <div class="test-card">
        <div class="wrapper">
          <%= image_tag 'https://d1vzi28wh99zvq.cloudfront.net/images/54/286466.jpg',class:"cover-image" %>
        </div>
      </div>
    </a>
    <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
      <div class="test-card">
        <div class="wrapper">
          <%= image_tag 'https://cdn1.vox-cdn.com/uploads/chorus_asset/file/6862881/Screenshot%202016-07-29%2012.04.07.png',class:"cover-image" %>
        </div>
      </div>
    </a>
  </div>
</div>
<!--gm cards grid-->
<div class="profile-section">
  <h1 style="margin-top: 24px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">GAME MASTERS</h1>
  <div class="profile-container">
    <% DmProfile.first(4).each do |profile| %>
      <article class="profile-card">
        <div class="profile-image" style="width: 175px; height:175px;">
          <%= image_tag "http://source.unsplash.com/featured/cardgame&#{rand(1000)}"%>
        </div>
        <h2 class="profile-username"><%= profile.user.user_name %></h2>
        <small class="profile-user-handle"><%= profile.user.first_name %> <%= profile.user.last_name %></small>
        <div class="profile-actions">
          <button class="profile-button profile-button--primary">Reserve</button>
          <button class="profile-button profile-button--secondary">
            $<%= profile.price %>/h
          </button>
        </div>
        <div class="profile-actions">
          <a href="#" class="profile-button profile-button--icon">
            <%= image_tag 'Vampire_The_Masquerade.png'%>
          </a>
          <a href="#" class="profile-button profile-button--icon">
            <%= image_tag 'call-of-cthulhu-logo-1_1200x1200.webp'%>
          </a>
          <a href="#" class="profile-button profile-button--icon">
            <%= image_tag 'pathfinder.png'%>
          </a>
        </div>
      </article>
    <% end %>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      We <i class="fas fa-heart"></i> Tabletop Gaming
    </div>
  </div>
</div>
