,<div class="showpage-container">
    <div>
    </div>
</div>

<%# Wooden game navbar %>

<div class="bar-container">
  <span class="label-container">
    <%= image_tag 'Vampire_The_Masquerade.png', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'call-of-cthulhu-logo-1_1200x1200.webp', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'dnd2.png', width:"100%", height:"42"%>
  </span>
  <span class="label-container">
    <%= image_tag 'WFRP-Core-logo.png', width:"100%", height:"36"%>
  </span>
  <span class="label-container">
    <%= image_tag 'pathfinder.png', width:"100%", height:"24"%>
  </span>
</div>

<%# player info section begins %>

<div class="profile-content-container">
  <div class="profile-content-banner">
    <p class="flex-1 text-center"><strong>BIOGRAPHY</strong></p>
    <p class="flex-1 text-center"><strong>XP</strong></p>
    <p class="flex-1 text-center"><strong>PRICE &amp; AVAILABILITY</strong></p>

  </div>
  <div class="profile-content">
    <div class="flex-1 ">
      <p>Single handed fought off 50 orcs with only a pencil.</p>
    </div>
    <div class="flex-1 ">
      <p>Dungeons and Dragons<br> 200hr</p>
      <p>Call of Cthulu<br> 2000hr</p>
      <p>Vampire The Masquerade<br>25,000hr</p>
    </div>

    <div class="flex-1 ">
      <p>200$hr</p><p>Available Mon - Fri <br>18:00 - 24:00</p>
      <p><%= link_to 'Book Your Session', dm_profiles_path, class: 'btn btn-primary'  %></p>
    </div>

  </div>
</div>

