<div class="container p-5 m-5">
  <div class="card">
    <%= image_tag "http://source.unsplash.com/featured/?face&#{rand(1000)}" %>
    <div class="card p-3 m-3">
      <h2><%= @dm_profile.user.email %></h2>
      <%= @dm_profile.experience %>
      <p><%= link_to 'Book this DM', new_dm_profile_booking_path(@dm_profile), class: 'btn btn-primary mt-3'%></p>
    </div>
  </div>
  <%= link_to 'Back', dm_profiles_path, class: 'btn btn-info'  %>
</div>
