<div class="showpage-container">
  <div class="profile-name-img-container">
    <div><%= image_tag("http://source.unsplash.com/featured/avatar&#{rand(1000)}", alt: "profile picture") %>
    </div>
    <div> <%=@dm_profile.user.user_name.upcase  %>
    </div>
  </div>
  <%# Wooden game navbar %>
  <div class="background-container">
    <div class="bar-container">
      <div>
        <span class="label-container">
          <%= image_tag 'Vampire_The_Masquerade.png', width:"100%", height:"36"%>
        </span>
      </div>
      <div>
        <span class="label-container">
          <%= image_tag 'call-of-cthulhu-logo-1_1200x1200.webp', width:"100%", height:"36"%>
        </span>
      </div>
      <div>
        <span class="label-container">
          <%= image_tag 'dnd2.png', width:"100%", height:"42"%>
        </span>
      </div>
      <div>
        <span class="label-container">
          <%= image_tag 'WFRP-Core-logo.png', width:"100%", height:"36"%>
        </span>
      </div>
      <div>
        <span class="label-container">
          <%= image_tag 'pathfinder.png', width:"100%", height:"24"%>
        </span>
      </div>
    </div>
  </div>
  <%# player info section begins %>
  <div class="profile-content-container">
    <div class="profile-content-banner">
      <p class="flex-1 text-center"><strong>BOOKING STATUS</strong></p>
      <p class="flex-1 text-center"><strong>BIOGRAPHY</strong></p>
      <p class="flex-1 text-center"><strong>PRICE &amp; AVAILABILITY</strong></p>
    </div>
    <div class="profile-content">
      <div class="flex-1 ">
        <p>No bookings</p>
      </div>
      <div class="flex-1 ">
        <p><%= @dm_profile.experience %></p>
      </div>
      <div class="flex-1 ">
        <p>200$hr</p>
        <p>Available Mon - Fri <br>
          18:00 - 24:00</p>
        <p><%= link_to 'Book Your Session', "#make-new-booking", class: 'btn btn-primary'  %></p>
        <p><%= link_to 'Back', dm_profiles_path, class: 'btn btn-primary'  %></p>
      </div>
    </div>
  </div>
</div>
<div class="new-booking-page-container" id="make-new-booking">
  <h1>Making New Booking</h1>
  <%= simple_form_for [@dm_profile, @booking], html: { class: "cmint"} do |f| %>
    <%= f.input :game_type, :collection => %i[Call\ Of\ Cthulu  Dungeons\ and\ Dragons Pathfinder Vampire\ The\ Masquerade Warhammer\ Fantasy\ Roleplay], input_html: {style: "opacity: 50%; color: black;"} %>
    <%= f.input :date, input_html: {style: "opacity: 50%; color: black;"}, as: :date, html5: true %>
    <%= f.input :session_hours, input_html: {style: "opacity: 50%; color: black;"}, :label => 'How long will you play? (hrs)', :collection => (1..10) %>
    <%= f.input :player_number, input_html: {style: "opacity: 50%; color: black;"}, :label => 'How many players?', :collection => (1..10) %>
    <%= f.input :details, input_html: {style: "opacity: 50%; color: black;"}, :label => 'Message for the DM' %>
    <div style="display:flex; justify-content: space-evenly">
      <input class="btn btn-success" type="reset" value="Reset form">
      <%= f.button :submit, "Create Booking", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
</div>
</div>
